// variables
$letterSpacing: 1px;
$transition: all 0.3s ease-in-out;
$headline: 2.2rem;
// General Designs
* {
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(120deg, #eee 60%, #ddd 20%);
}
// the main font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
// bootstrap overriding
.navbar-expand-lg .navbar-nav {
  margin-left: auto;
  width: 50%;
  .nav-item {
    margin-left: auto;
  }
}
.navbar-light .navbar-brand i {
  background: linear-gradient(120deg, #ccc 60%, #ddd 20%);
  color: #252525;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
// the main button
.button {
  border: none;
  margin: 10px auto 30px auto;
  border-radius: 7px;
  background: linear-gradient(120deg, #212121, #535353);
  padding: 8px;
  min-width: 130px;
  height: 42px;
  color: #eee;
  text-transform: uppercase;
  transition: $transition;
  &:hover {
    letter-spacing: $letterSpacing + 1;
    min-width: 140px;
  }
}
// the design of login & signup
.login,
.signup {
  min-height: 100vh;
  .form-control {
    background-color: transparent !important;
    &:focus {
      border: none;
    }
  }
  .password {
    position: relative;
    .fa-eye {
      position: absolute;
      bottom: 15%;
      right: 15px;
      z-index: 2;
      cursor: pointer;
      opacity: 1;
      &.show {
        opacity: 1;
      }
    }
  }
  .content {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    label {
      cursor: pointer;
    }
    .form-control::placeholder {
      font-size: 12px;
      color: #5353538c;
    }
    .image {
      img {
        border-radius: 20px;
        pointer-events: none;
      }
    }
    form {
      margin-top: 10%;
      .form-check-input {
        background-color: #30303056;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}
.signup {
  margin-top: 5%;
  .form-check-input {
    background-color: #2b2b2bad;
    border: none;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  .content {
    margin-top: 0;
  }
  .via {
    border-radius: 5px;
    margin-top: 0px;
    padding: 5px;
    filter: drop-shadow(0.5px 4.5px 2px #4d4d4d);
  }
  img {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .login {
    form {
      margin-top: 80% !important;
    }
  }
}
@media (max-width: 768px) {
  .signup {
    .via {
      margin-top: 20px;
    }
  }
  .form-control::placeholder {
    font-size: 10px !important;
  }
}
